<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Fixed Wheel Macro -->
    <xacro:macro name="fixed_wheel" params="prefix x_offset y_reflect">
        <joint name="${prefix}_wheel_joint" type="continuous">
            <parent link="base_link"/>
            <child link="${prefix}_wheel_link"/>
            <origin xyz="${x_offset} ${y_reflect * wheel_offset_y} 0" rpy="-${pi / 2} 0 0"/>
            <axis xyz="0 0 1"/>
        </joint>
    

        <link name="${prefix}_wheel_link">
            <visual>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
                </geometry>
                <material name="black"/>
            </collision>
            <xacro:inertial_cylinder mass="${wheel_mass}" length="${wheel_length}" radius="${wheel_radius}">
                <origin xyz="0 0 0"/>
            </xacro:inertial_cylinder>
        </link>

        <!-- Tire Friction -->
        <gazebo reference="${prefix}_wheel_link">
            <mu1>0.9</mu1>
            <mu2>0.9</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo>

    </xacro:macro>

    <!-- Steered Wheel Macro -->
     <xacro:macro name="steered_wheel" params="prefix x_offset y_reflect">
        <!-- Steering Knuckle -->
        <joint name="${prefix}_steer_joint" type="revolute">
            <parent link="base_link"/>
            <child link="${prefix}_steer_link"/>
            <origin xyz="${x_offset} ${y_reflect * wheel_offset_y} 0"/>
            <axis xyz="0 0 1"/>
            <limit lower="-${max_steer_angle}" upper="${max_steer_angle}" effort="10.0" velocity="5.0"/>
        </joint>

        <!-- Steering Knuckle Inertial Tag for simulation -->
        <link name="${prefix}_steer_link">
            <xacro:inertial_box mass="0.01" x="0.02" y="0.02" z="0.02">
                <origin xyz="0 0 0"/>
            </xacro:inertial_box>
        </link>

        <!-- Wheel -->
        <joint name="${prefix}_wheel_joint" type="continuous">
            <parent link="${prefix}_steer_link"/>
            <child link="${prefix}_wheel_link"/>
            <origin xyz="0 0 0" rpy="-${pi / 2} 0 0"/>
            <axis xyz="0 0 1"/>
        </joint>

        <link name="${prefix}_wheel_link">
            <visual>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
                </geometry>
            </collision>
            <xacro:inertial_cylinder mass="${wheel_mass}" length="${wheel_length}" radius="${wheel_radius}">
                <origin xyz="0 0 0"/>
            </xacro:inertial_cylinder>
        </link>

        <gazebo reference="${prefix}_wheel_link">
            <mu1>0.9</mu1>
            <mu2>0.9</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo>
        
     </xacro:macro>
</robot>
